
:root{
    --bg-color: rgb(13, 10, 105);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header{
    height: 5em;
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.tamanologo{
    height: 5em;
    padding-left: 150px;
}

.seccionesdelnav{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 10em;
    gap: 50px;
}

.seccionesdelnav a{
    list-style-type: none;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.elementonav{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: flex;
    margin-top: 5px;
    padding-bottom: 5px;
    font-family: 'Ubuntu', sans-serif;
    
}

.elementonav:hover{
    border-bottom: 1px solid white;
    cursor: pointer;
}

